.snackbar {
   position: fixed;
   bottom: 5%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 700;
   padding: 20px 30px;
   text-align: center;
   z-index: 1000;
}
.success {
   background: #25e345;
   color: #fff;
}
.fail {
   background: #e32525;
   color: #fff;
}

.show {
   visibility: visible;
   animation: fadeIn .5s, fadeOut .5s 2.5s forwards;
}
.hide {
   visibility: hidden;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      bottom: 0;
   }
   to {
      opacity: 1;
      bottom: 5%;
   }
}
@keyframes fadeOut {
   from {
      opacity: 1;
      bottom: 5%;
   }
   to {
      opacity: 0;
      bottom: 0;
   }
}

@media all and (max-width: 768px) {
   .snackbar {
      font-size: 12px;
      left: 15%;
      right: 15%;
      transform: none;
   }
}