@font-face {
  font-family: "os";
  src: url(../fonts/OpenSans-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: "os";
  src: url(../fonts/OpenSans-SemiBold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "os";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

button:disabled {
  opacity: .3;
  cursor: default;
}

button:disabled:hover {
  background: transparent !important;
  color: #fff !important;
  border-color: #fff !important;
}

input {
  background: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "os", sans-serif;
  font-weight: 300;
  margin: 0;
  height: 100vh;
  background: #232323 url(../images/bg.svg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  max-width: 80vw;
  min-height: 600px;
  height: 768px;
  max-height: 90vh;
  background: #232323;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px;
          box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px;
  border-radius: 35px;
}

.container .dock {
  z-index: 10;
  color: #515151;
  height: 100%;
  padding: 35px;
  position: absolute;
  left: 70%;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.container .dock .logo {
  display: block;
  width: 225px;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container .dock .logo img {
  width: 100%;
}

.container .dock .title {
  position: relative;
  width: 100%;
}

.container .dock .title h3 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  opacity: 0;
  text-align: left;
  visibility: hidden;
  position: relative;
  z-index: 1;
}

.container .dock .title h3.active {
  opacity: 1;
  visibility: visible;
}

.container .dock .title h3:last-of-type {
  text-align: right;
  position: absolute;
  top: 0;
  width: 100%;
}

.container .dock .title .deco {
  width: 35%;
  height: 7px;
  background: #515151;
  position: absolute;
  left: 65%;
  bottom: -5px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  border-radius: 50px;
}

.container .dock .arrow {
  position: absolute;
  z-index: -1;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.container .dock .arrow svg {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  stroke: #232323;
}

.container .dock .arrow:hover {
  padding-left: 25px;
}

.container .dock .arrow:hover svg {
  stroke: #25e345;
}

.container .dock .arrow-right {
  right: 0;
  left: auto;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.container .dock .arrow-left {
  left: 0;
  -webkit-transform: translateX(-50%) rotate(180deg);
          transform: translateX(-50%) rotate(180deg);
}

.container .dock.signUp .arrow-right {
  padding-left: 30px;
  pointer-events: all;
}

.container .dock.signIn {
  left: 0;
  right: 70%;
  border-radius: 0;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.container .dock.signIn .title .deco {
  left: 0;
}

.container .dock.signIn .arrow-right {
  pointer-events: all;
}

.container .dock.signIn .arrow-left {
  pointer-events: none;
  padding-left: 30px;
}

.container .main {
  color: #fff;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 30%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.container .main .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.container .main .title h3 {
  font-size: 35px;
  font-weight: 300;
  opacity: 0.25;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  cursor: pointer;
}

.container .main .title h3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #25e345;
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.container .main .title h3.active {
  opacity: 1;
}

.container .main .title h3.active::after {
  width: 100%;
  opacity: 1;
}

.container .main .title span {
  margin: 0 30px;
  opacity: 0.25;
}

.container .main .inner {
  width: 100%;
  height: 80%;
  position: relative;
}

.container .main form {
  width: 100%;
  position: absolute;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 100px;
}

.container .main form .input-item {
  margin-bottom: 20px;
}

.container .main form label {
  font-size: 20px;
  display: block;
  width: 100%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.container .main form input {
  width: 100%;
  margin-top: 5px;
  padding-bottom: 10px;
  background: none;
  font-size: 18px;
  border: 0;
  border-bottom: 1px solid #ffffff25;
  font-family: "os";
  outline: none;
  color: #fff;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.container .main form .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.container .main form .choices .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  position: relative;
}

.container .main form .choices .choice label {
  font-size: 14px;
  border: 1px solid #fff;
  padding: 10px 25px;
  cursor: pointer;
}

.container .main form .choices .choice input {
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  width: auto;
  bottom: 0;
  opacity: 0;
}

.container .main form .choices .choice input:checked ~ label {
  border-color: #25e345;
  color: #25e345;
}

.container .main form .send {
  text-transform: uppercase;
  font-size: 18px;
  color: #232323;
  border-radius: 50px;
  padding: 20px 40px;
  text-align: center;
  font-family: "os";
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.container .main form .send:hover {
  color: #232323;
  background: #25e345;
  border-color: #25e345;
}

.container .main form span:last-of-type {
  margin-left: 30px;
  cursor: pointer;
  color: #25e345;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-bottom: 1px transparent solid;
}

.container .main form span:last-of-type:hover {
  border-bottom-color: #25e345;
}

.container .main form.signIn label {
  font-size: 30px;
}

.container .main form.signIn .input-item input {
  font-size: 25px;
}

.container .main form.signIn .send {
  margin-top: 0;
}

.container .main form.signUp {
  -webkit-animation: fadeInFromLeft 1s forwards;
          animation: fadeInFromLeft 1s forwards;
}

.container .main form.signIn {
  -webkit-animation: fadeOutToRight 1s forwards;
          animation: fadeOutToRight 1s forwards;
}

.container .main form.signIn .input-item {
  margin-bottom: 40px;
}

.container .main.signIn {
  padding-right: 0;
  padding-left: 30%;
}

.container .main.signIn form.signIn {
  -webkit-animation: fadeInFromRight 1s forwards;
          animation: fadeInFromRight 1s forwards;
}

.container .main.signIn form.signUp {
  -webkit-animation: fadeOutToLeft 1s forwards;
          animation: fadeOutToLeft 1s forwards;
}

.home {
  color: #fff;
  font-size: 25px;
}

.home p {
  display: inline;
  text-align: center;
}

.home .send {
  text-transform: uppercase;
  font-size: 18px;
  color: #232323;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  padding: 20px 40px;
  text-align: center;
  font-family: "os";
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.home .send:hover {
  color: #232323;
  background: #25e345;
  border-color: #25e345;
}

@media all and (max-width: 1600px) {
  .container {
    width: 900px;
  }
  .container .dock .logo {
    width: 175px;
  }
  .container .dock .title h3 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .container .dock .title .deco {
    height: 4px;
  }
  .container .main .title h3 {
    font-size: 30px;
  }
  .container .main form.signIn .input-item label,
  .container .main form.signUp .input-item label {
    font-size: 18px;
  }
  .container .main form.signIn .input-item input,
  .container .main form.signUp .input-item input {
    font-size: 18px;
  }
  .container .main form.signIn .choices .choice label,
  .container .main form.signUp .choices .choice label {
    font-size: 12px;
  }
  .container .main form.signIn .send,
  .container .main form.signUp .send {
    font-size: 12px;
    padding: 12px 25px;
  }
  .container .main form.signUp {
    top: 0;
    padding: 0 70px;
  }
  .container .main form.signUp .input-item label {
    font-size: 14px;
  }
  .container .main form.signUp .input-item input {
    font-size: 14px;
  }
}

@media all and (max-width: 1300px) {
  .container {
    height: 550px;
    min-height: 0;
  }
  .container .dock .logo {
    width: 120px;
  }
  .container .dock .arrow-left,
  .container .dock .arrow-right {
    width: 80px;
    height: 80px;
  }
  .container .dock .arrow-left svg,
  .container .dock .arrow-right svg {
    height: 35px;
  }
  .container .main .title h3 {
    font-size: 25px;
  }
  .container .main form.signIn,
  .container .main form.signUp {
    font-size: 14px;
  }
  .container .main form.signIn .input-item,
  .container .main form.signUp .input-item {
    margin-bottom: 10px;
  }
  .container .main form.signIn .input-item label,
  .container .main form.signUp .input-item label {
    font-size: 14px;
  }
  .container .main form.signIn .input-item input,
  .container .main form.signUp .input-item input {
    font-size: 12px;
  }
  .container .main form.signIn .send,
  .container .main form.signUp .send {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 12px;
    padding: 10px 20px;
  }
}

@media all and (max-width: 1024px) {
  .container {
    max-width: 90vw;
    max-height: 100vh;
  }
  .container .dock .title h3 {
    font-size: 25px;
  }
  .container .dock .arrow-left,
  .container .dock .arrow-right {
    padding-left: 25px;
  }
  .container .main form {
    padding: 0 60px;
  }
  .container .main form p span:first-of-type {
    display: block;
    margin-bottom: 8px;
  }
  .container .main form p span:last-of-type {
    margin-left: 0;
  }
}

@media all and (max-width: 767px) {
  #tsparticles {
    display: none;
  }
  .container .dock {
    padding: 20px;
  }
  .container .dock .logo {
    top: 20px;
    width: 100px;
  }
  .container .dock .title h3 {
    font-size: 20px;
  }
  .container .main .signUp {
    padding-left: 30px;
  }
  .container .main .signIn {
    padding-right: 30px;
  }
  .container .main .title h3 {
    font-size: 20px;
  }
}

@media all and (max-width: 576px) {
  body {
    display: block;
    height: 100%;
  }
  .App {
    border-radius: 0;
    overflow-y: visible;
  }
  .container {
    max-width: 100vw;
    border-radius: 0;
    max-height: none;
    display: block;
    height: auto;
    min-height: 100vh;
  }
  .container .dock {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 0 !important;
    padding: 10px;
  }
  .container .dock .logo {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 120px;
  }
  .container .dock .title,
  .container .dock .arrow-left,
  .container .dock .arrow-right {
    display: none;
  }
  .container .main {
    padding: 20px !important;
    border-radius: 0;
  }
  .container .main .title {
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
  .container .main .title span {
    margin: 0 20px;
  }
  .container .main .inner {
    height: auto;
  }
  .container .main .inner form.signIn,
  .container .main .inner form.signUp {
    position: static;
    margin-top: 30px;
    -webkit-transform: none;
            transform: none;
    padding: 0 !important;
  }
  .container .main .inner form.signIn .input-item,
  .container .main .inner form.signUp .input-item {
    margin-bottom: 30px;
  }
  .container .main .inner form.signIn .send,
  .container .main .inner form.signUp .send {
    width: 100%;
    padding: 15px;
    font-size: 14px;
  }
  .container .main .inner form.signIn {
    position: absolute;
    top: 0;
  }
}

@-webkit-keyframes fadeInFromLeft {
  0% {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInFromLeft {
  0% {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadeOutToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOutToLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeOutToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOutToRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeInFromRight {
  0% {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInFromRight {
  0% {
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes loaderFadeIn {
  0% {
    opacity: 1;
  }
  100% {
    visibility: visible;
  }
}

@keyframes loaderFadeIn {
  0% {
    opacity: 1;
  }
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes loaderFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaderFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=auth.css.map */